@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-black;
  counter-reset: timelineCounter;
  z-index: 1;
  overflow-x: hidden;
  &.form-page {
    @include after("") {
      opacity: 0.1;
      z-index: -1;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right top;
      background-image: url("../img/hourseIcon.png");
      top: -100px;
      right: -100px;
      width: 693.35px;
      aspect-ratio: 1;
    }
  }
  // @include dir(rtl) {
  // }
  @include dir(ltr) {
    font-family: "Inter", sans-serif;
  }
}
