@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-black;
  counter-reset: timelineCounter;
  // @include dir(rtl) {
  // }
  @include dir(ltr) {
    font-family: "Inter", sans-serif;
  }
}
